body{
    font-family: 'Courier New', Courier, monospace;
    /*new
    :root {
    --bg-color : #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}*/

    background: #fff;
	color: black;
    

}

/*
.home {
 
*/

.heading {
    /* Fonts Properties - Used to apply typography styling */
    font-size: 60px;
    font-style: italic;
    /* font-weight - thickness of text, value start from 100-900 */
    font-weight: 700; 

    text-decoration: underline;
    text-decoration: overline;

    /* CSS - Cascading means waterfall, mean in waterfalls water moves from top to bottom, this is how css works reads from top to bottom
    if you apply one property on top with one value and then after some point you apply same property below then the second property will work
     */
     /*Important Note:
     1 REM = 16 px;*/
/* text-decoration property specifies the decoration added to text, and is a shorthand property (underlined, overline,dotted wagera)
ismei color thickness style property ati hy 
text-decoration-style: underline overline dotted red; etc*/    
  
}

* {

  scroll-behavior: smooth;
}

.project-header {
	
}

.logo {
	position: fixed;
	float: left;
    font-size: 20px;
    color: #fff;
	transition: .5s;
    cursor: crosshair;
}

.logo a:hover, 
.logo a.active {
	color: #0ef;
}
/*This is Nav Bar*/
.navbar a {
    font-size: 27px;
    color: black;
    margin-left: 64px;
    transition:.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}


/*
nav {
  background-color: #f1f1f1;
  padding: 20px 10px;

}
*/

header a {

  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
  margin-left: 5px;
}
.about {
  
    border: 4px solid red; 
    margin: 50px 50px 50px 50px;
    padding: 0px 20px 10px 20px;
	background-image: url('Placeholder5.jpg');

}

h3 {
  color: rgb(224, 206, 224);
  text-align: auto;
  font-size: 20px;

}

.article, img, a {
  align-items: center;
  text-align: center;
  text-decoration: solid;
}

.about p {
  text-align: center;
  color:#fff;
  margin-top: 5px;
}

h1 {
  margin-left: 20px;
  text-align: center;
}

.navbar a:hover, a:active {
    background-color: #00eeff;
}
.btn:hover {
    box-shadow: none;
}

img {
  background-color: black;
  
}

.form1, .form2, .form3, .form4{
  background-image: url('Placeholder.webp');
    /*1 rem = 16px*/
     margin: 100px 400px 100px 150px;
    padding: 0px 20px 10px 20px;
    text-align: center;
    border: 4px solid blue;

}

.form1{
  background-color: rgb(26, 37, 37);
}


 .ordered, .unordered, .description {
background-image: url('Placeholder4.jpg');
margin: 100px 400px 100px 150px;
    padding: 0px 20px 10px 20px;
    text-align: center;
    border: 4px solid blue;
	align-content: center;
 }    
.table1, .table2 {
	background-image: url('Placeholder3.jpg');
            margin: 100px 400px 100px 150px;
            padding: 0px 20px 10px 20px;
            text-align: center;
            border: 4px cyan solid ;
        }
        

.contact .contact-form{

     margin: 100px 400px 100px 150px;
    padding: 0px 20px 10px 20px;
    text-align: center;
    border: 4px solid blue;
    background-image: url('Placeholder2.jpg');
    
}

 


        footer {
    display: flex
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 32px 9%;
    background: #323946;
}
    footer a {
      color:#00eeff
    }
	
	/*Footer Up Arrrow alt*/
	.bx-up-arrow-alt {
		font-family: 'Boxicons';
		
		}
		/*display dikhata hy element display kaise hy page mei*/
		.footer-iconTop a i {
			border: 10px #fff solid;
			float: right;
			font-size: 20px;
			color: #fff; 
			
			
}
.sidebar a {
	float: right;
	border: 1px green solid;
	color: #0ef;
	
}
.sidebar, caption {
	font-size: 20px;
	float: right;
padding: 10px 0px 0px 0px;
margin: 20px 20px 20px 20px;
	
}

techno {
	margin-left: 2px;
}